# ClickHouse Configuration
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=defaultpass
CLICKHOUSE_URL=http://clickhouse:8123

# Redpanda Configuration
REDPANDA_LOG_LEVEL=warn
REDPANDA_ADVERTISED_HOST=localhost
REDPANDA_BROKER=redpanda:9092
REDPANDA_USER=admin
REDPANDA_PASSWORD=super_secret_password

# Vector Configuration
VECTOR_LOG=warn
VECTOR_KAFKA_USER=vector-agent
VECTOR_KAFKA_PASSWORD=super_secret_password
    
REDPANDA_METRICS_ENDPOINT=http://redpanda:9644/public_metrics
REDPANDA_CLUSTER_NAME=databuddy-prod
ENVIRONMENT=production

# Axiom Configuration
AXIOM_DATASET=redpanda
AXIOM_TOKEN=your-axiom-ingest-token

# Console Configuration
CONSOLE_JWT_SIGNING_KEY=databuddy-console-jwt-secret-kenvy-change-in-production-min-32-chars